In [57]:
import pandas as pd
import json
import statistics

df = pd.DataFrame()

for i in range(1, 24):
    with open("./data/rent_data/" + str(i) + ".json", "r") as f:
        text = json.loads(f.read())

    rows = text["Trends"]["TrendChart"]["Rows"]
    start = rows[:4]
    values = [i[1] for i in start]
    year_mean = [statistics.mean(values)]
    del rows[:4]
    for j in range(0, len(rows), 12):
        year = rows[j:j+12]
        values = [val[1] for val in year]
        year_mean.append(statistics.mean(values))
    
    df[str(i) + ". District"] = year_mean

df

,1. District,2. District,3. District,4. District,5. District,6. District,7. District,8. District,9. District,10. District,...,14. District,15. District,16. District,17. District,18. District,19. District,20. District,21. District,22. District,23. District
0,19.627500,14.250000,14.410000,15.425000,14.697500,14.727500,14.020000,15.622500,14.322500,11.752500,...,12.322500,12.552500,12.572500,11.937500,14.260000,15.580000,11.782500,12.430000,15.777500,12.555000
1,19.407500,14.623333,15.015000,15.194167,13.986667,15.310833,14.824167,15.072500,14.711667,11.819167,...,12.580833,12.050833,12.914167,12.738333,14.931667,15.830000,12.289167,12.634167,16.046667,12.405833
2,19.451667,14.690833,14.497500,14.650000,14.336667,14.700000,15.013333,14.708333,14.968333,12.305000,...,12.608333,12.867500,12.836667,12.895000,15.197500,15.585833,12.655833,12.801667,16.189167,12.619167
3,19.227500,14.920833,14.428333,15.183333,14.240000,14.904167,14.978333,14.635000,14.537500,12.873333,...,12.531667,12.660000,13.265000,12.817500,14.918333,15.488333,12.954167,13.107500,16.032500,13.097500
4,19.175000,14.830000,15.160000,15.449167,14.605000,15.574167,15.083333,14.830000,15.040833,12.783333,...,12.804167,12.791667,13.160833,12.964167,14.505833,15.489167,13.147500,13.740000,16.534167,13.694167
5,19.453333,15.371667,15.807500,15.796667,14.912500,16.016667,15.526667,15.006667,14.792500,13.788333,...,14.381667,13.239167,13.422500,13.536667,14.966667,15.731667,13.395000,13.835000,16.310000,13.895000
6,20.340833,16.945000,16.190833,15.939167,16.071667,16.790000,16.230000,14.832500,15.953333,15.473333,...,13.373333,13.855833,14.328333,14.642500,15.030833,16.607500,15.472500,14.073333,17.134167,14.045000
7,19.843333,16.180833,15.889167,16.135833,15.320833,16.214167,15.802500,15.247500,16.014167,14.610833,...,13.957500,13.955833,14.534167,14.464167,15.470000,16.664167,14.870833,14.918333,16.092500,14.409167
8,20.100000,16.033333,16.845000,16.199167,15.293333,16.105833,15.819167,15.510000,16.214167,15.115833,...,14.968333,14.720833,14.530833,14.201667,15.616667,16.450000,14.138333,14.175833,15.844167,16.019167
9,20.220833,15.513333,17.040833,16.146667,15.316667,16.609167,15.858333,15.672500,16.404167,15.596667,...,14.755000,15.092500,15.239167,14.169167,15.515000,16.458333,13.714167,15.433333,16.516667,15.669167
10,22.385000,20.600833,18.292500,16.722500,15.720000,17.477500,17.511667,17.440833,18.565833,16.260833,...,16.040000,15.579167,15.612500,15.439167,16.208333,17.073333,18.153333,16.009167,16.756667,17.196667
11,22.385000,18.348333,17.876667,17.460833,17.108333,18.571667,17.285833,17.520000,17.473333,16.314167,...,17.054167,16.510833,16.768333,15.707500,17.648333,17.927500,17.560000,16.860000,17.580833,16.785833
12,23.056667,19.431667,18.238333,18.488333,19.173333,18.738333,18.626667,19.726667,18.613333,19.303333,...,18.666667,18.760000,17.605000,16.590000,18.761667,19.773333,18.253333,18.588333,22.716667,17.083333

In [58]:
df.to_csv("./data/average_rent_sqm.csv")